<launch>
	<arg name="camera"              default="torso"/>
	<arg name="machine" 		default=""/>
  	<include file="$(find vio_launch)/launch/includes/machines.xml"/>
	<group ns="$(arg camera)">
		<include file="$(find vio_launch)/launch/rovio_realsense.launch">
			<arg name="camera"                value="$(arg camera)"/>
			<arg name="machine" 		value="$(arg machine)"/>
		</include>
	</group>
		<include file="$(find vio_launch)/launch/remote_rs_d435_camera_with_model.launch">
			<arg name="camera"                value="$(arg camera)"/>
			<arg name="machine" 		value="$(arg machine)"/>
		</include>
</launch>

