<?xml version="1.0" encoding="UTF-8"?> 
<launch>
	<arg name="adj_cam" default="false"/>
	<arg name="camera"              default="radius"/>
	<arg name="machine" 		default=""/>
	<arg name="visualize" 		default="true"/>
	<include file="$(find vio_launch)/launch/includes/machines.xml"/>
	<include file="$(find vio_launch)/launch/rovio_realsense.launch">
		<arg name="camera"                value="$(arg camera)"/>
		<arg name="machine" 		value="$(arg machine)"/>
		<arg name="visualize" 		value="$(arg visualize)"/>
		<arg name="adj_map" default="true"/>
		<arg name="adj_map_frame" default="$(arg camera)_localmap"/>
	</include>
	<include file="$(find vio_launch)/launch/remote_rs_d435_camera_with_model.launch">
		<arg name="camera"                value="$(arg camera)"/>
		<arg name="machine" 		value="$(arg machine)"/>
	</include>
	<include file="$(find vio_launch)/launch/frames.launch">
		<arg name="adj_cam" value="$(arg adj_cam)"/>
		<arg name="camera" value="$(arg camera)"/>
	</include>
</launch>

