<launch>
	<arg name="camera"              default="arm"/>
	<group ns="$(arg camera)">
		<include file="$(find vio_launch)/launch/rovio_realsense.launch">
			<arg name="tf_prefix"                value="$(arg tf_prefix)"/>
		</include>
		<include file="$(find vio_launch)/launch/remote_rs_d435_camera_with_model.launch">
			<arg name="tf_prefix"                value="$(arg tf_prefix)"/>
		</include>
	</group>
</launch>

