<launch>
	<arg name="camera"              default="arm"/>
	<arg name="machine" 		default=""/>
	<include file="$(find vio_launch)/launch/includes/machines.xml"/>
	<include file="$(find vio_launch)/launch/rovioli_realsense.launch">
		<arg name="camera"                value="$(arg camera)"/>
		<arg name="machine" 		value="$(arg machine)"/>
	</include>
	<include file="$(find vio_launch)/launch/remote_rs_d435_camera_with_model.launch">
		<arg name="camera"                value="$(arg camera)"/>
		<arg name="machine" 		value="$(arg machine)"/>
	</include>
</launch>

