<?xml version="1.0" encoding="UTF-8"?> 
<launch>
	<arg name="camera"     default="camera0"/>
	<arg name="adj_map" default="true"/>
	<arg name="adj_map_frame" default="adj_map"/>


	<!-- SENSORS AND CALIBRATION -->
	<!-- this is super annoying, but it does the lookup on the host,, yeah, pretty dumb right? or not, well you still need to have the packages installed in the remote, idk what would make more sense-->
	<arg name="sensor_calibration_file" default="/home/frederico/pervio_ws/src/vio_launch/config/realsense_435i.yaml"/>

	<!-- DATA SOURCE -->
	<arg name="datasource_type" default="rostopic"/>

	<!-- MAP BUILDING -->
	<arg name="save_map_folder" default="rovioli_map"/>
	<arg name="overwrite_existing_map" default="false"/>
	<arg name="optimize_map_to_localization_map" default="false"/>
	<arg name="map_builder_save_image_as_resources" default="false"/>


	<!-- TF -->
	<arg name="tf_map_frame" value="$(arg adj_map_frame)" if="$(arg adj_map)" />
	<arg name="tf_map_frame" value="map"   unless="$(arg adj_map)" />
	<arg name="tf_mission_frame" default="mission"/>

	<arg name="tf_imu_frame" value="imu/$(arg camera)"  />


	<!-- DEBUGGING AND LOGGING -->
	<arg name="alsologtostderr" default="true"/>
	<arg name="colorlogtostderr" default="true"/>
	<arg name="v" default="3"/>
	<arg name="publish_debug_markers" default="true"/>

	<arg name="export_estimated_poses_to_csv" default=""/>
	<arg name="feature_tracker_visualize_keypoint_detections" default="false"/>
	<arg name="feature_tracker_visualize_keypoint_matches" default="false"/>
	<arg name="rovio_enable_frame_visualization" default="false"/>
	<arg name="rovioli_enable_health_checking" default="true" />
	<arg name="vio_camera_topic_suffix" default="image_raw" />
	<arg name="machine" 		default=""/>
	<group ns="$(arg camera)">
		<node name="rovioli" pkg="rovioli" type="rovioli" required="true" output="screen" clear_params="true" machine="$(arg machine)" if="$(eval arg('machine') != '')">

			<!-- SENSORS AND CALIBRATION -->
			<param name="sensor_calibration_file" value="$(arg sensor_calibration_file)"/>


			<remap from="/imu0" to="/$(arg camera)/imu0"/>

			<!-- DATA SOURCE -->
			<param name="datasource_type" value="$(arg datasource_type)"/>

			<!-- MAP BUILDING -->
			<param name="save_map_folder" value="$(arg save_map_folder)"/>
			<param name="overwrite_existing_map" value="$(arg overwrite_existing_map)"/>
			<param name="optimize_map_to_localization_map" value="$(arg optimize_map_to_localization_map)"/>
			<param name="map_builder_save_image_as_resources" value="$(arg map_builder_save_image_as_resources)"/>

			<!-- TF -->
			<param name="tf_map_frame" value="$(arg tf_map_frame)"/>
			<param name="tf_mission_frame" value="$(arg tf_mission_frame)"/>
			<param name="tf_imu_frame" value="$(arg tf_imu_frame)"/>

			<!-- DEBUGGING AND LOGGING -->
			<param name="alsologtostderr" value="$(arg alsologtostderr)"/>
			<param name="colorlogtostderr" value="$(arg colorlogtostderr)"/>
			<param name="v" value="$(arg v)"/>
			<param name="publish_debug_markers" value="$(arg publish_debug_markers)"/>

			<param name="vio_camera_topic_suffix" value="$(arg vio_camera_topic_suffix)"/>
			<param name="feature_tracker_visualize_keypoint_detections" value="$(arg feature_tracker_visualize_keypoint_detections)" />
			<param name="feature_tracker_visualize_keypoint_matches" value="$(arg feature_tracker_visualize_keypoint_matches)" />
			<param name="rovio_enable_frame_visualization" value="$(arg rovio_enable_frame_visualization)" />
		</node>
		<node name="rovioli" pkg="rovioli" type="rovioli" required="true" output="screen" clear_params="true" if="$(eval arg('machine') == '')">

			<!-- SENSORS AND CALIBRATION -->
			<param name="sensor_calibration_file" value="$(arg sensor_calibration_file)"/>


			<remap from="/imu0" to="/$(arg camera)/imu0"/>

			<!-- DATA SOURCE -->
			<param name="datasource_type" value="$(arg datasource_type)"/>

			<!-- MAP BUILDING -->
			<param name="save_map_folder" value="$(arg save_map_folder)"/>
			<param name="overwrite_existing_map" value="$(arg overwrite_existing_map)"/>
			<param name="optimize_map_to_localization_map" value="$(arg optimize_map_to_localization_map)"/>
			<param name="map_builder_save_image_as_resources" value="$(arg map_builder_save_image_as_resources)"/>

			<!-- TF -->
			<param name="tf_map_frame" value="$(arg tf_map_frame)"/>
			<param name="tf_mission_frame" value="$(arg tf_mission_frame)"/>
			<param name="tf_imu_frame" value="$(arg tf_imu_frame)"/>

			<!-- DEBUGGING AND LOGGING -->
			<param name="alsologtostderr" value="$(arg alsologtostderr)"/>
			<param name="colorlogtostderr" value="$(arg colorlogtostderr)"/>
			<param name="v" value="$(arg v)"/>
			<param name="publish_debug_markers" value="$(arg publish_debug_markers)"/>

			<param name="vio_camera_topic_suffix" value="$(arg vio_camera_topic_suffix)"/>
			<param name="feature_tracker_visualize_keypoint_detections" value="$(arg feature_tracker_visualize_keypoint_detections)" />
			<param name="feature_tracker_visualize_keypoint_matches" value="$(arg feature_tracker_visualize_keypoint_matches)" />
			<param name="rovio_enable_frame_visualization" value="$(arg rovio_enable_frame_visualization)" />
		</node>
		<include file="$(find vio_launch)/launch/includes/machines.xml"/>

	</group>
</launch>
