<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<include file="$(find vio_launch)/launch/includes/machines.xml"/>
	<arg name="model_file" 	default="/srv/data/gait1992/residual_reduction_algorithm/model_adjusted.osim" />
	<arg name="machine" 		default=""/>

        <node pkg="osrt_ros" type="vis_ik" respawn="true"	name="ik_visualization" output="log" machine="$(arg machine)" if="$(eval arg('machine') != '')">
                <param name="model_file" 		value="$(arg model_file)" />
		<rosparam param="geometry_path_list">['/srv/data/geometry_v3.3','/srv/host_data/Geo'] </rosparam>
		<param name="which_model_1_2" 		value="2" />

		<remap from="/ik_visualization/input" to="/vio/ik/output"/>
		<remap from="/ik_visualization/input_filtered" to="/vio/ik/output_filtered"/>
		<remap from="/in_labels" to="/ik/out_labels"/>
		
        </node>
        <node pkg="osrt_ros" type="vis_ik" respawn="true"	name="ik_visualization" output="screen" if="$(eval arg('machine') == '' )">
                <param name="model_file" 		value="$(arg model_file)" />
		<rosparam param="geometry_path_list">['/srv/data/geometry_v3.3','/srv/host_data/Geo'] </rosparam>
		<param name="which_model_1_2" 		value="2" />

		<remap from="/ik_visualization/input" to="/vio/ik/output"/>
		<remap from="/ik_visualization/input_filtered" to="/vio/ik/output_filtered"/>
		<remap from="/in_labels" to="/ik/out_labels"/>
		
        </node>

</launch>
